<form action="/api/auth/login" method="post">
    <label for="email">
        <input type="text" name="email" placeholder="email">
    </label>
    <label for="password">
        <input type="password" name="password" placeholder="password">
    </label>
    <button type="submit">Login</button>
</form>